@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";


/**************************
 * MAIN MENU
**************************/
#header .mainmenu{
    border: 0px solid;
    float: right;
}
#header .mainmenu ul li{
    float: left;
    list-style: none;
}
#header .mainmenu ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
}
.mainmenu .menu li:hover{text-decoration: underline;}


/*****************
* SIDEBAR
*****************/
.sidebar,
.sidebar ul,
.sidebar li,
.sidebar a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
}
.sidebar {
    float: right;
    width: 250px;
    border-bottom: 4px solid #656659;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.sidebar a {
    line-height: 1.3;
}
.sidebar > ul > li:first-child {
    border: 1px solid #45463d;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.sidebar > ul > li > a {
    font-size: 14px;
    display: block;
    padding: 5px;
    background: url(../images/sidebar/pattern.png) top left repeat;
    /*border: 1px solid #ba2f14;*/
    border: 1px solid #180f0f;
    border-top: none;
    font-weight: bolder;
}
.sidebar ul li  a > span {
    display: block;
    padding: 12px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.sidebar > ul > li > a:hover {
  text-decoration: none;
}
.sidebar > ul > li.active {
  border-bottom: none;
}
.sidebar > ul > li.parent > a {
  background: url(../images/sidebar/icon_plus.png) 96% center no-repeat;
}
.sidebar > ul > li.parent.active > a {
  background: url(../images/sidebar/icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
.sidebar ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
.sidebar ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
.sidebar ul ul li:last-child {
  border-bottom: none;
}
.sidebar ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: 12px;
  font-weight: normal;
}
.sidebar ul ul a:before {
  content: "»";
  position: absolute;
  left: 10px;
  color: #e94f31;
}
.sidebar ul ul a:hover {
  color: #e94f31;
}



/******************
* MENU_TOGGLE
******************/
.menu.toggle{
    border: 0px solid;
    float: right;
    height: 100%;
    margin-top: 5px;
}
.menu.toggle div{
    border: 0px solid;
    width: 50px;
    height: 5px;
    margin-top: 5px;
    margin-right: 25px;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}




/*****************************
* LIST
*****************************/
.list{
    width: 100%;
}
.list ul li{
    clear: both;
}